{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% extends "template.jinja" %}

{% block pageTitle %}{{ grant.proto_name }} - {% trans %}Apply for funding{% endtrans %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ grant.proto_name }}</h1>

        {% if grant.proto_apply_action_description %}
        <p class="govuk-body">
            {% trans %}Start or continue an application for funding to{% endtrans %} {{ grant.proto_apply_action_description }}.
        </p>
        {% endif %}

        {% if grant.proto_prospectus_link %}
        <p class="govuk-body">
            {% trans %}You should {% endtrans %}<a class="govuk-link govuk-link--no-visited-state" href="{{ grant.proto_prospectus_link }}">{% trans %}read the fund's prospectus{% endtrans %}</a> {% trans %}before you apply.{% endtrans %}
        </p>
        {% endif %}

        {% if active_round %}
        <ul class="govuk-list">
            {# these default flask-babel date formatters have a comma between day and year which the gov uk style guide doesn't suggest https://www.gov.uk/guidance/style-guide/a-to-z#dates #}
            <li><strong>{% trans %}Opening date:{% endtrans %}</strong> {{ active_round.proto_start_date | dateformat }}</li>
            <li><strong>{% trans %}Submission deadline:{% endtrans %}</strong> {{ active_round.proto_end_date | dateformat }}</li>
        </p>
        {{ govukButton({
            "isStartButton": true,
            "text": _("Enter your email address")
        }) }}
        {% else %}
        {{ govukInsetText({
            "text": _("This grant is not open for applications for funding.")
        }) }}
        {% endif %}

        <h2 class="govuk-heading-m">{% trans %}Get help{% endtrans %}</h2>
        <p class="govuk-body">
            {% trans %}If you need help, contact us through our{% endtrans %} <a class="govuk-link govuk-link--no-visited-state" href="#" target="_blank">{% trans %}support desk (opens in new tab).{% endtrans %}</a>
        </p>
    </div>
</div>
{% endblock %}
