{% from "govuk_frontend_jinja/components/header/macro.html" import govukHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/service-navigation/macro.html" import govukServiceNavigation %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}


{% extends "govuk_frontend_jinja/template.html" %}
{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-5.7.1.min.css') }}" />
{% endblock head %}

{% block header %}
{{ govukHeader({
    "homepageUrl": "#",
    "useTudorCrown": true,
    "classes": "govuk-header--full-width-border",
    "serviceName": _("Onboard a grant")
}) }}

{{ govukServiceNavigation({
  "serviceName": "Onboard a grant",
  "navigation": [
    {"href": url_for('proto_onboard.platform.grants.index'), "text": "Grants", "active": active_navigation_tab == 'grants'},
    {"href": "3", "text": "Application rounds", "active": active_navigation_tab == 'rounds'},
    {"href": "#", "text": "Question bank", "active": active_navigation_tab == 'templates'},
  ]
}) }}
{% endblock header %}

{% block beforeContent %}

{% set feedbackMessage %}
{% trans %}This is a new service. Help us improve it and{% endtrans %} <a href="#" class="govuk-link govuk-link--no-visited-state">{% trans %}give your feedback (opens in new tab).{% endtrans %}</a>
{% endset %}

{{ govukPhaseBanner({
    "tag": {
        "text": "Beta"
    },
    "html": feedbackMessage
}) }}

{% if back_link %}
{{ govukBackLink({"href": back_link}) }}
{% endif %}
{% endblock beforeContent %}

{% block footer %}
{{ govukFooter({
    "meta": {
        "items": [
            { "href": url_for("proto_onboard.web.cookies_handler"), "text": _("Cookies") },
            { "href": url_for("proto_onboard.web.accessibility_statement_handler"), "text": _("Accessibility statement") }
        ]
    }
}) }}
{% endblock footer %}
