{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% extends "form_runner/base.jinja.html" %}

{% block pageTitle %}{% trans %}Your application{% endtrans %} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ application.round.proto_grant.title_json.en }}</span>
      Application for {{ application.round.title_json.en }}
    </h1>

    {{ govukDetails({"summaryText": "Help with filling out your application", "text": ""}) }}

    <dl>
      <dt class="govuk-heading-s app-application-details">{% trans %}Submission deadline:{% endtrans %}</dt>
      <dd class="govuk-body govuk-!-margin-bottom-2"> {{ application.round.deadline | datetime_format_full_month }}</dd>

      <dt class="govuk-heading-s app-application-details">{% trans %}Reference:{% endtrans %}</dt>
      <dd class="govuk-body govuk-!-margin-bottom-2"> {{ application.code }}</dd>

      <dt class="govuk-heading-s app-application-details">
          {% trans %}Status:{% endtrans %}
      </dt>
      {% if application.not_started %}
        <dd class="govuk-!-margin-bottom-2">
          {{ govukTag({"text": "Not started", "classes": "govuk-tag--grey"}) }}
        </dd>
      {% elif application.in_progress %}
        <dd class="govuk-!-margin-bottom-2">
          {{ govukTag({"text": "In progress", "classes": "govuk-tag--blue"}) }}
        </dd>
      {% endif %}
    </dl>

    <ol class="govuk-list">
      {% for section in application.round.application_sections %}
      <li>
        <h2 class="govuk-heading-m">Section {{ loop.index }}</h2>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2"/>
        {% if application.section_in_progress(section.id) or application.section_completed(section.id) %}
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('proto_form_runner.check_your_answers', application_id=application.id, section_slug=section.slug) }}">{{ section.title }}</a>
        {% else %}
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('proto_form_runner.ask_application_question', application_id=application.id, section_slug=section.slug, question_slug=section.questions[0].slug) }}">{{ section.title }}</a>
        {% endif %}

        {% if application.section_not_started(section.id) %}
          {{ govukTag({"text": "Not started", "classes": "govuk-tag--grey app-!-float-right"}) }}
        {% elif application.section_in_progress(section.id) %}
          {{ govukTag({"text": "In progress", "classes": "govuk-tag--blue app-!-float-right"}) }}
        {% elif application.section_completed(section.id) %}
          {{ govukTag({"text": "Completed", "classes": "govuk-tag--green app-!-float-right"}) }}
        {% endif %}
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3"/>
      </li>

      {% if not loop.last %}
        <hr class="govuk-section-break govuk-section-break--m"/>
      {% endif %}
      {% endfor %}
    </ol>

    {% if application.can_be_submitted %}
      {% if application.fake %}
        {% set submitApplicationHref = url_for('proto_manage.platform.rounds.view_round_data_collection', grant_code=application.round.proto_grant.short_name, round_code=application.round.short_name) %}
      {% else %}
        {% set submitApplicationHref = "#" %}
      {% endif %}
    {{ govukButton({"text":gettext("Submit application"), "href": submitApplicationHref, "classes": "govuk-!-margin-top-5"}) }}
    {% else %}
    {{ govukButton({"text":gettext("Submit application"), "classes": "govuk-!-margin-top-5 govuk-!-margin-bottom-3", "disabled": true}) }}
      <p class="govuk-body">You cannot submit your application until you have completed all of the sections.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
