{% from "govuk_frontend_jinja/components/header/macro.html" import govukHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/service-navigation/macro.html" import govukServiceNavigation %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}


{% extends "govuk_frontend_jinja/template.html" %}
{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-5.7.1.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
{% endblock head %}

{% block header %}
{{ govukHeader({
    "homepageUrl": "#",
    "useTudorCrown": true,
    "classes": "govuk-header--full-width-border",
    "serviceName": _("Grant management")
}) }}
{% endblock header %}

{% block beforeContent %}

{% if application is defined and application.fake %}
{{ govukPhaseBanner({
    "tag": {
        "text": "PREVIEW",
        "classes": "govuk-tag--red",
    },
    "html": "You are previewing the application process for " ~ application.round.proto_grant.title_json.en ~ " - " ~ application.round.title_json.en ~ ". <a class='govuk-link govuk-link--no-visited-state' href='" ~ url_for('proto_manage.platform.rounds.view_round_data_collection', grant_code=application.round.proto_grant.short_name, round_code=application.round.short_name) ~ "'>Return to round configuration.</a>"
}) }}
{% else %}
{% set feedbackMessage %}
{% trans %}This is a new service. Help us improve it and{% endtrans %} <a href="#" class="govuk-link govuk-link--no-visited-state">{% trans %}give your feedback (opens in new tab).{% endtrans %}</a>
{% endset %}

{{ govukPhaseBanner({
    "tag": {
        "text": "Beta"
    },
    "html": feedbackMessage
}) }}
{% endif %}

{% if back_link %}
{{ govukBackLink({"href": back_link}) }}
{% endif %}
{% endblock beforeContent %}

{% block footer %}
{{ govukFooter({
    "meta": {
        "items": [
            { "href": url_for("proto_manage.web.cookies_handler"), "text": _("Cookies") },
            { "href": url_for("proto_manage.web.accessibility_statement_handler"), "text": _("Accessibility statement") }
        ]
    }
}) }}
{% endblock footer %}
