{% from "govuk_frontend_jinja/components/header/macro.html" import govukHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}


{% extends "govuk_frontend_jinja/template.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='apply/govuk-frontend-4.8.0.min.css') }}" />
{% endblock head %}

{% block header %}
{{ govukHeader({
    "homepageUrl": "#",
    "useTudorCrown": true,
    "serviceName": _("Apply for funding")
}) }}
{% endblock header %}

{% block beforeContent %}
{% set feedbackMessage %}
{% trans %}This is a new service. Help us improve it and{% endtrans %} <a href="#" class="govuk-link govuk-link--no-visited-state">{% trans %}give your feedback (opens in new tab).{% endtrans %}</a>
{% endset %}

{{ govukPhaseBanner({
    "tag": {
        "text": "Beta"
    },
    "html": feedbackMessage
}) }}
{% endblock beforeContent %}

{% block footer %}
{{ govukFooter({
    "meta": {
        "items": [
            { "href": url_for("proto_apply.web.cookies_handler"), "text": _("Cookies") },
            { "href": url_for("proto_apply.web.accessibility_statement_handler"), "text": _("Accessibility statement") }
        ]
    }
}) }}
{% endblock footer %}
