{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% extends "manage/base.jinja.html" %}

{% block pageTitle %}{% trans %}Manage grants{% endtrans %} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% block content %}
<div class="govuk-grid-row app-sidebar">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ grant.name_json.en }} - {{ round.title_json.en }}</span>
      Data collection
    </h1>

    {% if round.application_sections | length == 0 %}
      <p class="govuk-body">No questions have been set up for this round yet.</p>

      <a href="{{ url_for('proto_manage.platform.rounds.choose_from_question_bank', grant_code=grant.short_name, round_code=round.short_name) }}" class="govuk-button">Add questions from the bank</a>
    {% else %}
      {% if not round.draft %}
        {{ govukInsetText({"text": "This can no longer be edited because the round is not in draft mode."}) }}
      {% else %}
        <div class="govuk-button-group">
          <a href="{{ url_for('proto_manage.platform.rounds.create_section_view', grant_code=grant.short_name, round_code=round.short_name) }}" class="govuk-button">Add a new section</a>
          <a href="{{ url_for('proto_manage.platform.rounds.choose_from_question_bank', grant_code=grant.short_name, round_code=round.short_name) }}" class="govuk-button govuk-button--secondary">Add more questions from the bank</a>
        </div>
      {% endif %}

      {% for section in round.application_sections %}
        {% set sectionloop = loop %}
        {% set questionRows = [] %}
        {% for question in section.questions %}
          {% set _ = questionRows.append(
            [
              {"text": ' '},
              {"text": question.title},
              {"html": ("<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('proto_manage.platform.rounds.create_question_view', grant_code=grant.short_name, round_code=round.short_name, section_id=section.id) + "'>Edit</a>") if round.draft else ' '}
            ]
          ) %}
        {% endfor %}

        {{
          govukTable(
            {
              "caption": section.title,
              "captionClasses": "govuk-table__caption--s",
              "firstCellIsHeader": true,
              "classes": "govuk-!-margin-bottom-2",
              "rows": questionRows,
            }
          )
        }}

        {% if round.draft %}
        <p class="govuk-body govuk-!-margin-top-0"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('proto_manage.platform.rounds.create_question_view', grant_code=grant.short_name, round_code=round.short_name, section_id=section.id) }}">Add another question</a></p>
        {% else %}
          <br>  {# lol hack #}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="govuk-grid-column-one-quarter app-sidebar__container">
    <nav class="navigation" aria-label="Application round">
      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ url_for('proto_manage.platform.rounds.view_round_overview', grant_code=grant.short_name, round_code=round.short_name) }}">Round overview</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-sidebar__item--active" href="{{ url_for('proto_manage.platform.rounds.view_round_data_collection', grant_code=grant.short_name, round_code=round.short_name) }}">Data collection</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ url_for('proto_manage.platform.rounds.view_round_configuration', grant_code=grant.short_name, round_code=round.short_name) }}">Configuration</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
