{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

{% extends "manage/base.jinja.html" %}

{% block pageTitle %}{% trans %}Manage grants{% endtrans %} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-m">Grant overview</span>
      {{ grant.name_json.en }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row app-sidebar">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-display-inline-block govuk-!-margin-3 govuk-!-padding-5 app-card">
      Applications
      <br>
      29
    </p>
    <p class="govuk-body govuk-!-display-inline-block govuk-!-margin-3 govuk-!-padding-5 app-card">
      Recipients
      <br>
      12
    </p>
    <p class="govuk-body govuk-!-display-inline-block govuk-!-margin-3 govuk-!-padding-5 app-card">
      Funding delivered
      <br>
      £1,242,481
    </p>

    <p class="govuk-body">
      {{ grant.description_json.en }}
    </p>
  </div>

  <div class="govuk-grid-column-one-quarter app-sidebar__container">
    <nav class="navigation" aria-label="Grant">
      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-sidebar__item--active" href="{{ url_for('proto_manage.platform.grants.view_grant_overview', grant_code=grant.short_name) }}">Grant overview</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ url_for('proto_manage.platform.grants.view_grant_rounds', grant_code=grant.short_name) }}">Application rounds</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Payments</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Monitoring</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Recipients</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ url_for('proto_manage.platform.grants.view_grant_configuration', grant_code=grant.short_name) }}">Configuration</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
