
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% from "partials/file-formats.html" import file_formats %}
{% set pageHeading %}{% trans %}Full list of application questions{% endtrans %}{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{% trans %}{{ fund_title }}{% endtrans %}&nbsp;
        {% trans %}{{ round_title }}{% endtrans %}
        </span>
        <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m ">
    Table of contents
  </h2>
  <ol class="govuk-list govuk-list--number">
    <li>
      <a class="govuk-link" href="#local-authority-details">
        Local authority details
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#spending-proposals">
        Spending proposals
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#declarations">
        Declarations
      </a>
    </li>
  </ol>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="local-authority-details">
    1. Local authority details
  </h2>
  <h3 class="govuk-heading-m">
    1.1. Local authority details
  </h3>
  <h4 class="govuk-heading-s">
    1.1.1. Your local authority name
  </h4>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Local authority name
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="">
        Aberdeen City Council
      </li>
      <li class="">
        Aberdeenshire Council
      </li>
      <li class="">
        Adur District Council
      </li>
      <li class="">
        Amber Valley Borough Council
      </li>
      <li class="">
        Angus Council
      </li>
      <li class="">
        Argyll and Bute Council
      </li>
      <li class="">
        Arun District Council
      </li>
      <li class="">
        Ashfield District Council
      </li>
      <li class="">
        Ashford Borough Council
      </li>
      <li class="">
        Babergh District Council
      </li>
      <li class="">
        Barking and Dagenham London Borough
      </li>
      <li class="">
        Barnet London Borough
      </li>
      <li class="">
        Barnsley Metropolitan Borough Council
      </li>
      <li class="">
        Basildon Borough Council
      </li>
      <li class="">
        Basingstoke and Deane Borough Council
      </li>
      <li class="">
        Bassetlaw District Council
      </li>
      <li class="">
        Bath and North East Somerset Council
      </li>
      <li class="">
        Bedford UA
      </li>
      <li class="">
        Bexley London Borough
      </li>
      <li class="">
        Birmingham City Council
      </li>
      <li class="">
        Blaby District Council
      </li>
      <li class="">
        Blackburn with Darwen Borough Council
      </li>
      <li class="">
        Blackpool Borough Council
      </li>
      <li class="">
        Blaenau Gwent County Borough Council
      </li>
      <li class="">
        Bolsover District Council
      </li>
      <li class="">
        Bolton Metropolitan Borough Council
      </li>
      <li class="">
        Boston Borough Council
      </li>
      <li class="">
        Bournemouth, Christchurch and Poole (UA)
      </li>
      <li class="">
        Bracknell Forest Council
      </li>
      <li class="">
        Braintree District Council
      </li>
      <li class="">
        Breckland District Council
      </li>
      <li class="">
        Brent London Borough
      </li>
      <li class="">
        Brentwood Borough Council
      </li>
      <li class="">
        Bridgend County Borough Council
      </li>
      <li class="">
        Brighton and Hove City Council
      </li>
      <li class="">
        Bristol City Council
      </li>
      <li class="">
        Broadland District Council
      </li>
      <li class="">
        Bromley London Borough
      </li>
      <li class="">
        Bromsgrove District Council
      </li>
      <li class="">
        Broxbourne Borough Council
      </li>
      <li class="">
        Broxtowe Borough Council
      </li>
      <li class="">
        Buckinghamshire UA
      </li>
      <li class="">
        Burnley Borough Council
      </li>
      <li class="">
        Bury Metropolitan Borough Council
      </li>
      <li class="">
        Caerphilly County Borough Council
      </li>
      <li class="">
        Calderdale Metropolitan Borough Council
      </li>
      <li class="">
        Cambridge City Council
      </li>
      <li class="">
        Cambridge and Peterborough Combined Authority
      </li>
      <li class="">
        Cambridgeshire County Council
      </li>
      <li class="">
        Camden London Borough
      </li>
      <li class="">
        Cannock Chase District Council
      </li>
      <li class="">
        Canterbury City Council
      </li>
      <li class="">
        Cardiff Council
      </li>
      <li class="">
        Carmarthenshire County Council
      </li>
      <li class="">
        Castle Point Borough Council
      </li>
      <li class="">
        Central Bedfordshire UA
      </li>
      <li class="">
        Ceredigion County Council
      </li>
      <li class="">
        Charnwood Borough Council
      </li>
      <li class="">
        Chelmsford City Council
      </li>
      <li class="">
        Cheltenham Borough Council
      </li>
      <li class="">
        Cherwell District Council
      </li>
      <li class="">
        Cheshire East UA
      </li>
      <li class="">
        Cheshire West and Chester UA
      </li>
      <li class="">
        Chesterfield Borough Council
      </li>
      <li class="">
        Chichester District Council
      </li>
      <li class="">
        Chorley Borough Council
      </li>
      <li class="">
        City of Bradford Metropolitan District Council
      </li>
      <li class="">
        City of Edinburgh Council
      </li>
      <li class="">
        City of London
      </li>
      <li class="">
        City of York Council
      </li>
      <li class="">
        Clackmannanshire Council
      </li>
      <li class="">
        Colchester Borough Council
      </li>
      <li class="">
        Comhairle nan Eilean Siar
      </li>
      <li class="">
        Conwy County Borough Council
      </li>
      <li class="">
        Cornwall County UA
      </li>
      <li class="">
        Cotswold District Council
      </li>
      <li class="">
        Coventry City Council
      </li>
      <li class="">
        Crawley Borough Council
      </li>
      <li class="">
        Croydon London Borough
      </li>
      <li class="">
        Cumberland Council
      </li>
      <li class="">
        Dacorum Borough Council
      </li>
      <li class="">
        Darlington Borough Council
      </li>
      <li class="">
        Dartford Borough Council
      </li>
      <li class="">
        Denbighshire County Council
      </li>
      <li class="">
        Derby City Council
      </li>
      <li class="">
        Derbyshire County Council
      </li>
      <li class="">
        Derbyshire Dales District Council
      </li>
      <li class="">
        Devon County Council
      </li>
      <li class="">
        Doncaster Metropolitan Borough Council
      </li>
      <li class="">
        Dorset Council (UA)
      </li>
      <li class="">
        Dover District Council
      </li>
      <li class="">
        Dudley Metropolitan Borough Council
      </li>
      <li class="">
        Dumfries and Galloway Council
      </li>
      <li class="">
        Dundee City Council
      </li>
      <li class="">
        Durham County UA
      </li>
      <li class="">
        Ealing London Borough
      </li>
      <li class="">
        East Ayrshire Council
      </li>
      <li class="">
        East Cambridgeshire District Council
      </li>
      <li class="">
        East Devon District Council
      </li>
      <li class="">
        East Dunbartonshire Council
      </li>
      <li class="">
        East Hampshire District Council
      </li>
      <li class="">
        East Hertfordshire District Council
      </li>
      <li class="">
        East Lindsey District Council
      </li>
      <li class="">
        East Lothian Council
      </li>
      <li class="">
        East Midlands Combined County Authority
      </li>
      <li class="">
        East Renfrewshire Council
      </li>
      <li class="">
        East Riding of Yorkshire Council
      </li>
      <li class="">
        East Staffordshire Borough Council
      </li>
      <li class="">
        East Suffolk Council
      </li>
      <li class="">
        East Sussex County Council
      </li>
      <li class="">
        Eastbourne Borough Council
      </li>
      <li class="">
        Eastleigh Borough Council
      </li>
      <li class="">
        Elmbridge Borough Council
      </li>
      <li class="">
        Enfield London Borough
      </li>
      <li class="">
        Epping Forest District Council
      </li>
      <li class="">
        Epsom and Ewell Borough Council
      </li>
      <li class="">
        Erewash Borough Council
      </li>
      <li class="">
        Essex County Council
      </li>
      <li class="">
        Exeter City Council
      </li>
      <li class="">
        Falkirk Council
      </li>
      <li class="">
        Fareham Borough Council
      </li>
      <li class="">
        Fenland District Council
      </li>
      <li class="">
        Fife Council
      </li>
      <li class="">
        Flintshire County Council
      </li>
      <li class="">
        Folkestone and Hythe District Council
      </li>
      <li class="">
        Forest of Dean District Council
      </li>
      <li class="">
        Fylde Borough Council
      </li>
      <li class="">
        Gateshead Metropolitan Borough Council
      </li>
      <li class="">
        Gedling Borough Council
      </li>
      <li class="">
        Glasgow City Council
      </li>
      <li class="">
        Gloucester City Council
      </li>
      <li class="">
        Gloucestershire County Council
      </li>
      <li class="">
        Gosport Borough Council
      </li>
      <li class="">
        Gravesham Borough Council
      </li>
      <li class="">
        Great Yarmouth Borough Council
      </li>
      <li class="">
        Greater Manchester Combined Authority
      </li>
      <li class="">
        Greenwich London Borough
      </li>
      <li class="">
        Guildford Borough Council
      </li>
      <li class="">
        Gwynedd Council
      </li>
      <li class="">
        Hackney London Borough
      </li>
      <li class="">
        Halton Borough Council
      </li>
      <li class="">
        Hammersmith and Fulham London Borough
      </li>
      <li class="">
        Hampshire County Council
      </li>
      <li class="">
        Harborough District Council
      </li>
      <li class="">
        Haringey London Borough
      </li>
      <li class="">
        Harlow District Council
      </li>
      <li class="">
        Harrow London Borough
      </li>
      <li class="">
        Hart District Council
      </li>
      <li class="">
        Hartlepool Borough Council
      </li>
      <li class="">
        Hastings Borough Council
      </li>
      <li class="">
        Havant Borough Council
      </li>
      <li class="">
        Havering London Borough
      </li>
      <li class="">
        Herefordshire Council
      </li>
      <li class="">
        Hertfordshire County Council
      </li>
      <li class="">
        Hertsmere Borough Council
      </li>
      <li class="">
        High Peak Borough Council
      </li>
      <li class="">
        Highland Council
      </li>
      <li class="">
        Hillingdon London Borough
      </li>
      <li class="">
        Hinckley and Bosworth Borough Council
      </li>
      <li class="">
        Horsham District Council
      </li>
      <li class="">
        Hounslow London Borough
      </li>
      <li class="">
        Hull City Council
      </li>
      <li class="">
        Huntingdonshire District Council
      </li>
      <li class="">
        Hyndburn Borough Council
      </li>
      <li class="">
        Inverclyde Council
      </li>
      <li class="">
        Ipswich Borough Council
      </li>
      <li class="">
        Isle of Anglesey County Council
      </li>
      <li class="">
        Isle of Wight Council
      </li>
      <li class="">
        Isles of Scilly Council
      </li>
      <li class="">
        Islington London Borough
      </li>
      <li class="">
        Kensington and Chelsea Royal Borough
      </li>
      <li class="">
        Kent County Council
      </li>
      <li class="">
        King's Lynn and West Norfolk Borough Council
      </li>
      <li class="">
        Kingston upon Thames Royal Borough
      </li>
      <li class="">
        Kirklees Council
      </li>
      <li class="">
        Knowsley Metropolitan Borough Council
      </li>
      <li class="">
        Lambeth London Borough
      </li>
      <li class="">
        Lancashire County Council
      </li>
      <li class="">
        Lancaster City Council
      </li>
      <li class="">
        Leeds City Council
      </li>
      <li class="">
        Leicester City Council
      </li>
      <li class="">
        Leicestershire County Council
      </li>
      <li class="">
        Lewes District Council
      </li>
      <li class="">
        Lewisham London Borough
      </li>
      <li class="">
        Lichfield District Council
      </li>
      <li class="">
        Lincoln City Council
      </li>
      <li class="">
        Lincolnshire County Council
      </li>
      <li class="">
        Liverpool City Council
      </li>
      <li class="">
        Liverpool City Region Combined Authority
      </li>
      <li class="">
        London Borough of Richmond upon Thames
      </li>
      <li class="">
        Luton Borough Council
      </li>
      <li class="">
        Maidstone Borough Council
      </li>
      <li class="">
        Maldon District Council
      </li>
      <li class="">
        Malvern Hills District Council
      </li>
      <li class="">
        Manchester City Council
      </li>
      <li class="">
        Mansfield District Council
      </li>
      <li class="">
        Medway Council
      </li>
      <li class="">
        Melton Borough Council
      </li>
      <li class="">
        Merthyr Tydfil County Borough Council
      </li>
      <li class="">
        Merton London Borough
      </li>
      <li class="">
        Mid Devon District Council
      </li>
      <li class="">
        Mid Suffolk District Council
      </li>
      <li class="">
        Mid Sussex District Council
      </li>
      <li class="">
        Middlesbrough Council
      </li>
      <li class="">
        Midlothian Council
      </li>
      <li class="">
        Milton Keynes Council
      </li>
      <li class="">
        Mole Valley District Council
      </li>
      <li class="">
        Monmouthshire County Council
      </li>
      <li class="">
        Moray Council
      </li>
      <li class="">
        Muckinghamshire Borough UA
      </li>
      <li class="">
        Neath Port Talbot County Borough
      </li>
      <li class="">
        New Forest District Council
      </li>
      <li class="">
        Newark and Sherwood District Council
      </li>
      <li class="">
        Newcastle City Council
      </li>
      <li class="">
        Newcastle-under-Lyme Borough Council
      </li>
      <li class="">
        Newham London Borough
      </li>
      <li class="">
        Newport City Council
      </li>
      <li class="">
        Norfolk County Council
      </li>
      <li class="">
        North Ayrshire Council
      </li>
      <li class="">
        North Devon District Council
      </li>
      <li class="">
        North East Derbyshire District Council
      </li>
      <li class="">
        North East Lincolnshire Council
      </li>
      <li class="">
        North East Mayoral Combined Authority (Post May 2024)
      </li>
      <li class="">
        North Hertfordshire District Council
      </li>
      <li class="">
        North Kesteven District Council
      </li>
      <li class="">
        North Lanarkshire Council
      </li>
      <li class="">
        North Lincolnshire Council
      </li>
      <li class="">
        North Norfolk District Council
      </li>
      <li class="">
        North Northamptonshire Council
      </li>
      <li class="">
        North Somerset Council
      </li>
      <li class="">
        North Tyneside Council
      </li>
      <li class="">
        North Warwickshire Borough Council
      </li>
      <li class="">
        North West Leicestershire District Council
      </li>
      <li class="">
        North Yorkshire Council (UA)
      </li>
      <li class="">
        North of Tyne Combined Authority
      </li>
      <li class="">
        Northumberland County UA
      </li>
      <li class="">
        Norwich City Council
      </li>
      <li class="">
        Nottingham City Council
      </li>
      <li class="">
        Nottinghamshire County Council
      </li>
      <li class="">
        Nuneaton and Bedworth Borough Council
      </li>
      <li class="">
        Oadby and Wigston Borough Council
      </li>
      <li class="">
        Oldham Metropolitan Borough Council
      </li>
      <li class="">
        Orkney Islands Council
      </li>
      <li class="">
        Oxford City Council
      </li>
      <li class="">
        Oxfordshire County Council
      </li>
      <li class="">
        Pembrokeshire County Council
      </li>
      <li class="">
        Pendle Borough Council
      </li>
      <li class="">
        Perth & Kinross Council
      </li>
      <li class="">
        Peterborough City Council
      </li>
      <li class="">
        Plymouth City Council
      </li>
      <li class="">
        Portsmouth City Council
      </li>
      <li class="">
        Powys County Council
      </li>
      <li class="">
        Preston City Council
      </li>
      <li class="">
        Reading Borough Council
      </li>
      <li class="">
        Redbridge London Borough
      </li>
      <li class="">
        Redcar and Cleveland Borough Council
      </li>
      <li class="">
        Redditch Borough Council
      </li>
      <li class="">
        Reigate and Banstead Borough Council
      </li>
      <li class="">
        Renfrewshire Council
      </li>
      <li class="">
        Rhondda Cynon Taf County Borough Council
      </li>
      <li class="">
        Ribble Valley Borough Council
      </li>
      <li class="">
        Rochdale Metropolitan Borough Council
      </li>
      <li class="">
        Rochford District Council
      </li>
      <li class="">
        Rossendale Borough Council
      </li>
      <li class="">
        Rother District Council
      </li>
      <li class="">
        Rotherham Metropolitan Borough Council
      </li>
      <li class="">
        Rugby Borough Council
      </li>
      <li class="">
        Runnymede Borough Council
      </li>
      <li class="">
        Rushcliffe Borough Council
      </li>
      <li class="">
        Rushmoor Borough Council
      </li>
      <li class="">
        Rutland County Council
      </li>
      <li class="">
        Salford City Council
      </li>
      <li class="">
        Sandwell Metropolitan Borough Council
      </li>
      <li class="">
        Scottish Borders Council
      </li>
      <li class="">
        Sefton Metropolitan Borough Council
      </li>
      <li class="">
        Sevenoaks District Council
      </li>
      <li class="">
        Sheffield City Council
      </li>
      <li class="">
        Shetland Islands Council
      </li>
      <li class="">
        Shropshire County UA
      </li>
      <li class="">
        Slough Borough Council
      </li>
      <li class="">
        Solihull Metropolitan Borough Council
      </li>
      <li class="">
        Somerset Council (UA)
      </li>
      <li class="">
        South Ayrshire Council
      </li>
      <li class="">
        South Cambridgeshire District Council
      </li>
      <li class="">
        South Derbyshire District Council
      </li>
      <li class="">
        South Gloucestershire Council
      </li>
      <li class="">
        South Hams District Council
      </li>
      <li class="">
        South Holland District Council
      </li>
      <li class="">
        South Kesteven District Council
      </li>
      <li class="">
        South Lanarkshire Council
      </li>
      <li class="">
        South Norfolk Council
      </li>
      <li class="">
        South Oxfordshire District Council
      </li>
      <li class="">
        South Ribble Borough Council
      </li>
      <li class="">
        South Staffordshire Council
      </li>
      <li class="">
        South Tyneside Council
      </li>
      <li class="">
        South Yorkshire Mayoral Combined Authority
      </li>
      <li class="">
        Southampton City Council
      </li>
      <li class="">
        Southend-on-Sea City Council
      </li>
      <li class="">
        Southwark London Borough
      </li>
      <li class="">
        Spelthorne Borough Council
      </li>
      <li class="">
        St Albans City and District Council
      </li>
      <li class="">
        St Helens Council
      </li>
      <li class="">
        Stafford Borough Council
      </li>
      <li class="">
        Staffordshire County Council
      </li>
      <li class="">
        Staffordshire Moorlands District Council
      </li>
      <li class="">
        Stevenage Borough Council
      </li>
      <li class="">
        Stirling Council
      </li>
      <li class="">
        Stockport Metropolitan Borough Council
      </li>
      <li class="">
        Stockton-on-Tees Borough Council
      </li>
      <li class="">
        Stoke-on-Trent City Council
      </li>
      <li class="">
        Stratford-on-Avon District Council
      </li>
      <li class="">
        Stroud District Council
      </li>
      <li class="">
        Suffolk County Council
      </li>
      <li class="">
        Sunderland City Council
      </li>
      <li class="">
        Surrey County Council
      </li>
      <li class="">
        Surrey Heath Borough Council
      </li>
      <li class="">
        Sutton London Borough
      </li>
      <li class="">
        Swale Borough Council
      </li>
      <li class="">
        Swansea Council
      </li>
      <li class="">
        Swindon Borough Council
      </li>
      <li class="">
        Tameside Metropolitan Borough Council
      </li>
      <li class="">
        Tamworth Borough Council
      </li>
      <li class="">
        Tandridge District Council
      </li>
      <li class="">
        Tees Valley Combined Authority
      </li>
      <li class="">
        Teignbridge District Council
      </li>
      <li class="">
        Telford and Wrekin Council
      </li>
      <li class="">
        Tendring District Council
      </li>
      <li class="">
        Test Valley Borough Council
      </li>
      <li class="">
        Tewkesbury Borough Council
      </li>
      <li class="">
        Thanet District Council
      </li>
      <li class="">
        Three Rivers District Council
      </li>
      <li class="">
        Thurrock Council
      </li>
      <li class="">
        Tonbridge and Malling Borough Council
      </li>
      <li class="">
        Torbay Council
      </li>
      <li class="">
        Torfaen County Borough
      </li>
      <li class="">
        Torridge District Council
      </li>
      <li class="">
        Tower Hamlets London Borough
      </li>
      <li class="">
        Trafford Metropolitan Borough Council
      </li>
      <li class="">
        Tunbridge Wells Borough Council
      </li>
      <li class="">
        Uttlesford District Council
      </li>
      <li class="">
        Vale of Glamorgan Council
      </li>
      <li class="">
        Vale of White Horse District Council
      </li>
      <li class="">
        Wakefield Metropolitan District Council
      </li>
      <li class="">
        Walsall Metropolitan Borough Council
      </li>
      <li class="">
        Waltham Forest London Borough
      </li>
      <li class="">
        Wandsworth London Borough
      </li>
      <li class="">
        Warrington Borough Council
      </li>
      <li class="">
        Warwick District Council
      </li>
      <li class="">
        Warwickshire County Council
      </li>
      <li class="">
        Watford Borough Council
      </li>
      <li class="">
        Waverley Borough Council
      </li>
      <li class="">
        Wealden District Council
      </li>
      <li class="">
        Welwyn Hatfield Borough Council
      </li>
      <li class="">
        West Berkshire Council
      </li>
      <li class="">
        West Devon Borough Council
      </li>
      <li class="">
        West Dunbartonshire Council
      </li>
      <li class="">
        West Lancashire Borough Council
      </li>
      <li class="">
        West Lindsey District Council
      </li>
      <li class="">
        West Lothian Council
      </li>
      <li class="">
        West Midlands Combined Authority
      </li>
      <li class="">
        West Northamptonshire Council
      </li>
      <li class="">
        West Oxfordshire District Council
      </li>
      <li class="">
        West Suffolk Council
      </li>
      <li class="">
        West Sussex County Council
      </li>
      <li class="">
        West Yorkshire Combined Authority
      </li>
      <li class="">
        West of England Combined Authority
      </li>
      <li class="">
        Westminster City Council
      </li>
      <li class="">
        Westmorland and Furness Council
      </li>
      <li class="">
        Wigan Metropolitan Borough Council
      </li>
      <li class="">
        Wiltshire County UA
      </li>
      <li class="">
        Winchester City Council
      </li>
      <li class="">
        Windsor and Maidenhead Royal Borough Council
      </li>
      <li class="">
        Wirral Borough Council
      </li>
      <li class="">
        Woking Borough Council
      </li>
      <li class="">
        Wokingham Borough Council
      </li>
      <li class="">
        Wolverhampton City Council
      </li>
      <li class="">
        Worcester City Council
      </li>
      <li class="">
        Worcestershire County Council
      </li>
      <li class="">
        Worthing Borough Council
      </li>
      <li class="">
        Wrexham County Borough Council
      </li>
      <li class="">
        Wychavon District Council
      </li>
      <li class="">
        Wyre Borough Council
      </li>
      <li class="">
        Wyre Forest District Council
      </li>
      <li class="">
        York and North Yorkshire Mayoral Combined Authority
      </li>
    </ul>
  </div>
  <h4 class="govuk-heading-s">
    1.1.2. Lead contact details
  </h4>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      The main point of contact for this application.
    </p>
  </div>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Lead contact first name
    </p>
  </div>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Lead contact last name
    </p>
  </div>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Lead contact job title
    </p>
  </div>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Lead contact email address
    </p>
  </div>
  <h4 class="govuk-heading-s">
    1.1.3. Is this expression of interest being submitted jointly with another local authority?
  </h4>
  <div class="govuk-body all-questions-component">
  </div>
  <h4 class="govuk-heading-s">
    1.1.3.2. Tell us which local authorities you are submitting this joint expression of interest with
  </h4>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      If there is more than one other local authority, use a comma to separate the names.
    </p>
  </div>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Do you have agreement from all of the local authorities involved in this joint expression of interest?
    </p>
  </div>
  <h4 class="govuk-heading-s">
    1.1.3.3. Which local authority will act as the accountable body for the funding and monitoring?
  </h4>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Accountable local authority
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="">
        Aberdeen City Council
      </li>
      <li class="">
        Aberdeenshire Council
      </li>
      <li class="">
        Adur District Council
      </li>
      <li class="">
        Amber Valley Borough Council
      </li>
      <li class="">
        Angus Council
      </li>
      <li class="">
        Argyll and Bute Council
      </li>
      <li class="">
        Arun District Council
      </li>
      <li class="">
        Ashfield District Council
      </li>
      <li class="">
        Ashford Borough Council
      </li>
      <li class="">
        Babergh District Council
      </li>
      <li class="">
        Barking and Dagenham London Borough
      </li>
      <li class="">
        Barnet London Borough
      </li>
      <li class="">
        Barnsley Metropolitan Borough Council
      </li>
      <li class="">
        Basildon Borough Council
      </li>
      <li class="">
        Basingstoke and Deane Borough Council
      </li>
      <li class="">
        Bassetlaw District Council
      </li>
      <li class="">
        Bath and North East Somerset Council
      </li>
      <li class="">
        Bedford UA
      </li>
      <li class="">
        Bexley London Borough
      </li>
      <li class="">
        Birmingham City Council
      </li>
      <li class="">
        Blaby District Council
      </li>
      <li class="">
        Blackburn with Darwen Borough Council
      </li>
      <li class="">
        Blackpool Borough Council
      </li>
      <li class="">
        Blaenau Gwent County Borough Council
      </li>
      <li class="">
        Bolsover District Council
      </li>
      <li class="">
        Bolton Metropolitan Borough Council
      </li>
      <li class="">
        Boston Borough Council
      </li>
      <li class="">
        Bournemouth, Christchurch and Poole (UA)
      </li>
      <li class="">
        Bracknell Forest Council
      </li>
      <li class="">
        Braintree District Council
      </li>
      <li class="">
        Breckland District Council
      </li>
      <li class="">
        Brent London Borough
      </li>
      <li class="">
        Brentwood Borough Council
      </li>
      <li class="">
        Bridgend County Borough Council
      </li>
      <li class="">
        Brighton and Hove City Council
      </li>
      <li class="">
        Bristol City Council
      </li>
      <li class="">
        Broadland District Council
      </li>
      <li class="">
        Bromley London Borough
      </li>
      <li class="">
        Bromsgrove District Council
      </li>
      <li class="">
        Broxbourne Borough Council
      </li>
      <li class="">
        Broxtowe Borough Council
      </li>
      <li class="">
        Buckinghamshire UA
      </li>
      <li class="">
        Burnley Borough Council
      </li>
      <li class="">
        Bury Metropolitan Borough Council
      </li>
      <li class="">
        Caerphilly County Borough Council
      </li>
      <li class="">
        Calderdale Metropolitan Borough Council
      </li>
      <li class="">
        Cambridge City Council
      </li>
      <li class="">
        Cambridge and Peterborough Combined Authority
      </li>
      <li class="">
        Cambridgeshire County Council
      </li>
      <li class="">
        Camden London Borough
      </li>
      <li class="">
        Cannock Chase District Council
      </li>
      <li class="">
        Canterbury City Council
      </li>
      <li class="">
        Cardiff Council
      </li>
      <li class="">
        Carmarthenshire County Council
      </li>
      <li class="">
        Castle Point Borough Council
      </li>
      <li class="">
        Central Bedfordshire UA
      </li>
      <li class="">
        Ceredigion County Council
      </li>
      <li class="">
        Charnwood Borough Council
      </li>
      <li class="">
        Chelmsford City Council
      </li>
      <li class="">
        Cheltenham Borough Council
      </li>
      <li class="">
        Cherwell District Council
      </li>
      <li class="">
        Cheshire East UA
      </li>
      <li class="">
        Cheshire West and Chester UA
      </li>
      <li class="">
        Chesterfield Borough Council
      </li>
      <li class="">
        Chichester District Council
      </li>
      <li class="">
        Chorley Borough Council
      </li>
      <li class="">
        City of Bradford Metropolitan District Council
      </li>
      <li class="">
        City of Edinburgh Council
      </li>
      <li class="">
        City of London
      </li>
      <li class="">
        City of York Council
      </li>
      <li class="">
        Clackmannanshire Council
      </li>
      <li class="">
        Colchester Borough Council
      </li>
      <li class="">
        Comhairle nan Eilean Siar
      </li>
      <li class="">
        Conwy County Borough Council
      </li>
      <li class="">
        Cornwall County UA
      </li>
      <li class="">
        Cotswold District Council
      </li>
      <li class="">
        Coventry City Council
      </li>
      <li class="">
        Crawley Borough Council
      </li>
      <li class="">
        Croydon London Borough
      </li>
      <li class="">
        Cumberland Council
      </li>
      <li class="">
        Dacorum Borough Council
      </li>
      <li class="">
        Darlington Borough Council
      </li>
      <li class="">
        Dartford Borough Council
      </li>
      <li class="">
        Denbighshire County Council
      </li>
      <li class="">
        Derby City Council
      </li>
      <li class="">
        Derbyshire County Council
      </li>
      <li class="">
        Derbyshire Dales District Council
      </li>
      <li class="">
        Devon County Council
      </li>
      <li class="">
        Doncaster Metropolitan Borough Council
      </li>
      <li class="">
        Dorset Council (UA)
      </li>
      <li class="">
        Dover District Council
      </li>
      <li class="">
        Dudley Metropolitan Borough Council
      </li>
      <li class="">
        Dumfries and Galloway Council
      </li>
      <li class="">
        Dundee City Council
      </li>
      <li class="">
        Durham County UA
      </li>
      <li class="">
        Ealing London Borough
      </li>
      <li class="">
        East Ayrshire Council
      </li>
      <li class="">
        East Cambridgeshire District Council
      </li>
      <li class="">
        East Devon District Council
      </li>
      <li class="">
        East Dunbartonshire Council
      </li>
      <li class="">
        East Hampshire District Council
      </li>
      <li class="">
        East Hertfordshire District Council
      </li>
      <li class="">
        East Lindsey District Council
      </li>
      <li class="">
        East Lothian Council
      </li>
      <li class="">
        East Midlands Combined County Authority
      </li>
      <li class="">
        East Renfrewshire Council
      </li>
      <li class="">
        East Riding of Yorkshire Council
      </li>
      <li class="">
        East Staffordshire Borough Council
      </li>
      <li class="">
        East Suffolk Council
      </li>
      <li class="">
        East Sussex County Council
      </li>
      <li class="">
        Eastbourne Borough Council
      </li>
      <li class="">
        Eastleigh Borough Council
      </li>
      <li class="">
        Elmbridge Borough Council
      </li>
      <li class="">
        Enfield London Borough
      </li>
      <li class="">
        Epping Forest District Council
      </li>
      <li class="">
        Epsom and Ewell Borough Council
      </li>
      <li class="">
        Erewash Borough Council
      </li>
      <li class="">
        Essex County Council
      </li>
      <li class="">
        Exeter City Council
      </li>
      <li class="">
        Falkirk Council
      </li>
      <li class="">
        Fareham Borough Council
      </li>
      <li class="">
        Fenland District Council
      </li>
      <li class="">
        Fife Council
      </li>
      <li class="">
        Flintshire County Council
      </li>
      <li class="">
        Folkestone and Hythe District Council
      </li>
      <li class="">
        Forest of Dean District Council
      </li>
      <li class="">
        Fylde Borough Council
      </li>
      <li class="">
        Gateshead Metropolitan Borough Council
      </li>
      <li class="">
        Gedling Borough Council
      </li>
      <li class="">
        Glasgow City Council
      </li>
      <li class="">
        Gloucester City Council
      </li>
      <li class="">
        Gloucestershire County Council
      </li>
      <li class="">
        Gosport Borough Council
      </li>
      <li class="">
        Gravesham Borough Council
      </li>
      <li class="">
        Great Yarmouth Borough Council
      </li>
      <li class="">
        Greater Manchester Combined Authority
      </li>
      <li class="">
        Greenwich London Borough
      </li>
      <li class="">
        Guildford Borough Council
      </li>
      <li class="">
        Gwynedd Council
      </li>
      <li class="">
        Hackney London Borough
      </li>
      <li class="">
        Halton Borough Council
      </li>
      <li class="">
        Hammersmith and Fulham London Borough
      </li>
      <li class="">
        Hampshire County Council
      </li>
      <li class="">
        Harborough District Council
      </li>
      <li class="">
        Haringey London Borough
      </li>
      <li class="">
        Harlow District Council
      </li>
      <li class="">
        Harrow London Borough
      </li>
      <li class="">
        Hart District Council
      </li>
      <li class="">
        Hartlepool Borough Council
      </li>
      <li class="">
        Hastings Borough Council
      </li>
      <li class="">
        Havant Borough Council
      </li>
      <li class="">
        Havering London Borough
      </li>
      <li class="">
        Herefordshire Council
      </li>
      <li class="">
        Hertfordshire County Council
      </li>
      <li class="">
        Hertsmere Borough Council
      </li>
      <li class="">
        High Peak Borough Council
      </li>
      <li class="">
        Highland Council
      </li>
      <li class="">
        Hillingdon London Borough
      </li>
      <li class="">
        Hinckley and Bosworth Borough Council
      </li>
      <li class="">
        Horsham District Council
      </li>
      <li class="">
        Hounslow London Borough
      </li>
      <li class="">
        Hull City Council
      </li>
      <li class="">
        Huntingdonshire District Council
      </li>
      <li class="">
        Hyndburn Borough Council
      </li>
      <li class="">
        Inverclyde Council
      </li>
      <li class="">
        Ipswich Borough Council
      </li>
      <li class="">
        Isle of Anglesey County Council
      </li>
      <li class="">
        Isle of Wight Council
      </li>
      <li class="">
        Isles of Scilly Council
      </li>
      <li class="">
        Islington London Borough
      </li>
      <li class="">
        Kensington and Chelsea Royal Borough
      </li>
      <li class="">
        Kent County Council
      </li>
      <li class="">
        King's Lynn and West Norfolk Borough Council
      </li>
      <li class="">
        Kingston upon Thames Royal Borough
      </li>
      <li class="">
        Kirklees Council
      </li>
      <li class="">
        Knowsley Metropolitan Borough Council
      </li>
      <li class="">
        Lambeth London Borough
      </li>
      <li class="">
        Lancashire County Council
      </li>
      <li class="">
        Lancaster City Council
      </li>
      <li class="">
        Leeds City Council
      </li>
      <li class="">
        Leicester City Council
      </li>
      <li class="">
        Leicestershire County Council
      </li>
      <li class="">
        Lewes District Council
      </li>
      <li class="">
        Lewisham London Borough
      </li>
      <li class="">
        Lichfield District Council
      </li>
      <li class="">
        Lincoln City Council
      </li>
      <li class="">
        Lincolnshire County Council
      </li>
      <li class="">
        Liverpool City Council
      </li>
      <li class="">
        Liverpool City Region Combined Authority
      </li>
      <li class="">
        London Borough of Richmond upon Thames
      </li>
      <li class="">
        Luton Borough Council
      </li>
      <li class="">
        Maidstone Borough Council
      </li>
      <li class="">
        Maldon District Council
      </li>
      <li class="">
        Malvern Hills District Council
      </li>
      <li class="">
        Manchester City Council
      </li>
      <li class="">
        Mansfield District Council
      </li>
      <li class="">
        Medway Council
      </li>
      <li class="">
        Melton Borough Council
      </li>
      <li class="">
        Merthyr Tydfil County Borough Council
      </li>
      <li class="">
        Merton London Borough
      </li>
      <li class="">
        Mid Devon District Council
      </li>
      <li class="">
        Mid Suffolk District Council
      </li>
      <li class="">
        Mid Sussex District Council
      </li>
      <li class="">
        Middlesbrough Council
      </li>
      <li class="">
        Midlothian Council
      </li>
      <li class="">
        Milton Keynes Council
      </li>
      <li class="">
        Mole Valley District Council
      </li>
      <li class="">
        Monmouthshire County Council
      </li>
      <li class="">
        Moray Council
      </li>
      <li class="">
        Muckinghamshire Borough UA
      </li>
      <li class="">
        Neath Port Talbot County Borough
      </li>
      <li class="">
        New Forest District Council
      </li>
      <li class="">
        Newark and Sherwood District Council
      </li>
      <li class="">
        Newcastle City Council
      </li>
      <li class="">
        Newcastle-under-Lyme Borough Council
      </li>
      <li class="">
        Newham London Borough
      </li>
      <li class="">
        Newport City Council
      </li>
      <li class="">
        Norfolk County Council
      </li>
      <li class="">
        North Ayrshire Council
      </li>
      <li class="">
        North Devon District Council
      </li>
      <li class="">
        North East Derbyshire District Council
      </li>
      <li class="">
        North East Lincolnshire Council
      </li>
      <li class="">
        North East Mayoral Combined Authority (Post May 2024)
      </li>
      <li class="">
        North Hertfordshire District Council
      </li>
      <li class="">
        North Kesteven District Council
      </li>
      <li class="">
        North Lanarkshire Council
      </li>
      <li class="">
        North Lincolnshire Council
      </li>
      <li class="">
        North Norfolk District Council
      </li>
      <li class="">
        North Northamptonshire Council
      </li>
      <li class="">
        North Somerset Council
      </li>
      <li class="">
        North Tyneside Council
      </li>
      <li class="">
        North Warwickshire Borough Council
      </li>
      <li class="">
        North West Leicestershire District Council
      </li>
      <li class="">
        North Yorkshire Council (UA)
      </li>
      <li class="">
        North of Tyne Combined Authority
      </li>
      <li class="">
        Northumberland County UA
      </li>
      <li class="">
        Norwich City Council
      </li>
      <li class="">
        Nottingham City Council
      </li>
      <li class="">
        Nottinghamshire County Council
      </li>
      <li class="">
        Nuneaton and Bedworth Borough Council
      </li>
      <li class="">
        Oadby and Wigston Borough Council
      </li>
      <li class="">
        Oldham Metropolitan Borough Council
      </li>
      <li class="">
        Orkney Islands Council
      </li>
      <li class="">
        Oxford City Council
      </li>
      <li class="">
        Oxfordshire County Council
      </li>
      <li class="">
        Pembrokeshire County Council
      </li>
      <li class="">
        Pendle Borough Council
      </li>
      <li class="">
        Perth & Kinross Council
      </li>
      <li class="">
        Peterborough City Council
      </li>
      <li class="">
        Plymouth City Council
      </li>
      <li class="">
        Portsmouth City Council
      </li>
      <li class="">
        Powys County Council
      </li>
      <li class="">
        Preston City Council
      </li>
      <li class="">
        Reading Borough Council
      </li>
      <li class="">
        Redbridge London Borough
      </li>
      <li class="">
        Redcar and Cleveland Borough Council
      </li>
      <li class="">
        Redditch Borough Council
      </li>
      <li class="">
        Reigate and Banstead Borough Council
      </li>
      <li class="">
        Renfrewshire Council
      </li>
      <li class="">
        Rhondda Cynon Taf County Borough Council
      </li>
      <li class="">
        Ribble Valley Borough Council
      </li>
      <li class="">
        Rochdale Metropolitan Borough Council
      </li>
      <li class="">
        Rochford District Council
      </li>
      <li class="">
        Rossendale Borough Council
      </li>
      <li class="">
        Rother District Council
      </li>
      <li class="">
        Rotherham Metropolitan Borough Council
      </li>
      <li class="">
        Rugby Borough Council
      </li>
      <li class="">
        Runnymede Borough Council
      </li>
      <li class="">
        Rushcliffe Borough Council
      </li>
      <li class="">
        Rushmoor Borough Council
      </li>
      <li class="">
        Rutland County Council
      </li>
      <li class="">
        Salford City Council
      </li>
      <li class="">
        Sandwell Metropolitan Borough Council
      </li>
      <li class="">
        Scottish Borders Council
      </li>
      <li class="">
        Sefton Metropolitan Borough Council
      </li>
      <li class="">
        Sevenoaks District Council
      </li>
      <li class="">
        Sheffield City Council
      </li>
      <li class="">
        Shetland Islands Council
      </li>
      <li class="">
        Shropshire County UA
      </li>
      <li class="">
        Slough Borough Council
      </li>
      <li class="">
        Solihull Metropolitan Borough Council
      </li>
      <li class="">
        Somerset Council (UA)
      </li>
      <li class="">
        South Ayrshire Council
      </li>
      <li class="">
        South Cambridgeshire District Council
      </li>
      <li class="">
        South Derbyshire District Council
      </li>
      <li class="">
        South Gloucestershire Council
      </li>
      <li class="">
        South Hams District Council
      </li>
      <li class="">
        South Holland District Council
      </li>
      <li class="">
        South Kesteven District Council
      </li>
      <li class="">
        South Lanarkshire Council
      </li>
      <li class="">
        South Norfolk Council
      </li>
      <li class="">
        South Oxfordshire District Council
      </li>
      <li class="">
        South Ribble Borough Council
      </li>
      <li class="">
        South Staffordshire Council
      </li>
      <li class="">
        South Tyneside Council
      </li>
      <li class="">
        South Yorkshire Mayoral Combined Authority
      </li>
      <li class="">
        Southampton City Council
      </li>
      <li class="">
        Southend-on-Sea City Council
      </li>
      <li class="">
        Southwark London Borough
      </li>
      <li class="">
        Spelthorne Borough Council
      </li>
      <li class="">
        St Albans City and District Council
      </li>
      <li class="">
        St Helens Council
      </li>
      <li class="">
        Stafford Borough Council
      </li>
      <li class="">
        Staffordshire County Council
      </li>
      <li class="">
        Staffordshire Moorlands District Council
      </li>
      <li class="">
        Stevenage Borough Council
      </li>
      <li class="">
        Stirling Council
      </li>
      <li class="">
        Stockport Metropolitan Borough Council
      </li>
      <li class="">
        Stockton-on-Tees Borough Council
      </li>
      <li class="">
        Stoke-on-Trent City Council
      </li>
      <li class="">
        Stratford-on-Avon District Council
      </li>
      <li class="">
        Stroud District Council
      </li>
      <li class="">
        Suffolk County Council
      </li>
      <li class="">
        Sunderland City Council
      </li>
      <li class="">
        Surrey County Council
      </li>
      <li class="">
        Surrey Heath Borough Council
      </li>
      <li class="">
        Sutton London Borough
      </li>
      <li class="">
        Swale Borough Council
      </li>
      <li class="">
        Swansea Council
      </li>
      <li class="">
        Swindon Borough Council
      </li>
      <li class="">
        Tameside Metropolitan Borough Council
      </li>
      <li class="">
        Tamworth Borough Council
      </li>
      <li class="">
        Tandridge District Council
      </li>
      <li class="">
        Tees Valley Combined Authority
      </li>
      <li class="">
        Teignbridge District Council
      </li>
      <li class="">
        Telford and Wrekin Council
      </li>
      <li class="">
        Tendring District Council
      </li>
      <li class="">
        Test Valley Borough Council
      </li>
      <li class="">
        Tewkesbury Borough Council
      </li>
      <li class="">
        Thanet District Council
      </li>
      <li class="">
        Three Rivers District Council
      </li>
      <li class="">
        Thurrock Council
      </li>
      <li class="">
        Tonbridge and Malling Borough Council
      </li>
      <li class="">
        Torbay Council
      </li>
      <li class="">
        Torfaen County Borough
      </li>
      <li class="">
        Torridge District Council
      </li>
      <li class="">
        Tower Hamlets London Borough
      </li>
      <li class="">
        Trafford Metropolitan Borough Council
      </li>
      <li class="">
        Tunbridge Wells Borough Council
      </li>
      <li class="">
        Uttlesford District Council
      </li>
      <li class="">
        Vale of Glamorgan Council
      </li>
      <li class="">
        Vale of White Horse District Council
      </li>
      <li class="">
        Wakefield Metropolitan District Council
      </li>
      <li class="">
        Walsall Metropolitan Borough Council
      </li>
      <li class="">
        Waltham Forest London Borough
      </li>
      <li class="">
        Wandsworth London Borough
      </li>
      <li class="">
        Warrington Borough Council
      </li>
      <li class="">
        Warwick District Council
      </li>
      <li class="">
        Warwickshire County Council
      </li>
      <li class="">
        Watford Borough Council
      </li>
      <li class="">
        Waverley Borough Council
      </li>
      <li class="">
        Wealden District Council
      </li>
      <li class="">
        Welwyn Hatfield Borough Council
      </li>
      <li class="">
        West Berkshire Council
      </li>
      <li class="">
        West Devon Borough Council
      </li>
      <li class="">
        West Dunbartonshire Council
      </li>
      <li class="">
        West Lancashire Borough Council
      </li>
      <li class="">
        West Lindsey District Council
      </li>
      <li class="">
        West Lothian Council
      </li>
      <li class="">
        West Midlands Combined Authority
      </li>
      <li class="">
        West Northamptonshire Council
      </li>
      <li class="">
        West Oxfordshire District Council
      </li>
      <li class="">
        West Suffolk Council
      </li>
      <li class="">
        West Sussex County Council
      </li>
      <li class="">
        West Yorkshire Combined Authority
      </li>
      <li class="">
        West of England Combined Authority
      </li>
      <li class="">
        Westminster City Council
      </li>
      <li class="">
        Westmorland and Furness Council
      </li>
      <li class="">
        Wigan Metropolitan Borough Council
      </li>
      <li class="">
        Wiltshire County UA
      </li>
      <li class="">
        Winchester City Council
      </li>
      <li class="">
        Windsor and Maidenhead Royal Borough Council
      </li>
      <li class="">
        Wirral Borough Council
      </li>
      <li class="">
        Woking Borough Council
      </li>
      <li class="">
        Wokingham Borough Council
      </li>
      <li class="">
        Wolverhampton City Council
      </li>
      <li class="">
        Worcester City Council
      </li>
      <li class="">
        Worcestershire County Council
      </li>
      <li class="">
        Worthing Borough Council
      </li>
      <li class="">
        Wrexham County Borough Council
      </li>
      <li class="">
        Wychavon District Council
      </li>
      <li class="">
        Wyre Borough Council
      </li>
      <li class="">
        Wyre Forest District Council
      </li>
      <li class="">
        York and North Yorkshire Mayoral Combined Authority
      </li>
    </ul>
  </div>
  <h4 class="govuk-heading-s">
    1.1.4. Check your answers
  </h4>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="spending-proposals">
    2. Spending proposals
  </h2>
  <h3 class="govuk-heading-m">
    2.1. Spending proposals
  </h3>
  <h4 class="govuk-heading-s">
    2.1.1. Which types of activities will this funding will be used to support?
  </h4>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Which types of activities will this funding will be used to support?
    </p>
    <p class="govuk-body">
      Select all that apply
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="">
        Preparing or updating the plan evidence base
      </li>
      <li class="">
        Updating technical studies
      </li>
      <li class="">
        Additional site assessments
      </li>
      <li class="">
        Consultation or engagement work
      </li>
      <li class="">
        Hiring additional staff
      </li>
      <li class="">
        Hiring consultants
      </li>
      <li class="">
        Other
      </li>
    </ul>
  </div>
  <h4 class="govuk-heading-s">
    2.1.1.2. Tell us what other types of activities this funding will be used to support
  </h4>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      (Max 250 words)
    </p>
  </div>
  <h4 class="govuk-heading-s">
    2.1.2. Check your answers
  </h4>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="declarations">
    3. Declarations
  </h2>
  <h3 class="govuk-heading-m">
    3.1. Declarations
  </h3>
  <h4 class="govuk-heading-s">
    3.1.1. Declarations
  </h4>
  <div class="govuk-body all-questions-component">
    <ul class="govuk-list govuk-list--bullet">
      <li class="">
        I confirm our emerging local plan will be at Regulation 19 stage on 12 March 2025
      </li>
    </ul>
  </div>
  <div class="govuk-body all-questions-component">
    <ul class="govuk-list govuk-list--bullet">
      <li class="">
        I confirm our new local housing need figure will be 25% or more greater than the housing requirement in your emerging local plan
      </li>
    </ul>
  </div>
  <div class="govuk-body all-questions-component">
    <ul class="govuk-list govuk-list--bullet">
      <li class="">
        I agree to revise our plan to reflect the revised NPPF (National Planning Policy Framework) and new LHN (local housing need) prior to submitting the document for examination
      </li>
    </ul>
  </div>
  <div class="govuk-body all-questions-component">
    <ul class="govuk-list govuk-list--bullet">
      <li class="">
        I commit to have proposals in place by March 2025 on how we will spend the funding
      </li>
    </ul>
  </div>
  <h4 class="govuk-heading-s">
    3.1.2. Check your answers
  </h4>
</div>
    </div>
</div>
{% endblock content %}
