{% extends "assess/base.html" %}
{% from "govuk_frontend_jinja/components/checkboxes/macro.html" import govukCheckboxes %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea %}
{% from "assess/macros/sub_criteria_navbar.html" import navbar %}
{% from "assess/macros/sub_criteria_heading.html" import sub_criteria_heading %}

{% set pageHeading -%}
Request changes –
{% if current_theme.id == sub_criteria.id %}
{{ sub_criteria.name }} – {{ sub_criteria.project_name }}
{% else %}
{{ current_theme.name }} – {{ sub_criteria.name }} – {{ sub_criteria.project_name }}
{% endif %}
{% endset %}

{% block header %}
{{ super() }}
{% include "assess/components/header.html" %}
{% endblock header %}


{% block content %}
{{ sub_criteria_heading(sub_criteria)}}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        {{ navbar(application_id, sub_criteria, current_theme.id) }}
    </div>
    <div class="theme govuk-grid-column-two-thirds">
        <div class="govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-l scoring-heading">Reasons for requesting change</h2>
        </div>
        {% if form.errors.get("justification") or form.errors.get("field_ids") %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% if form.errors.get("justification") %}
                        <li>
                            <a href=#{{ form.justification.id }}>{{ form.errors.get("justification") | join("\n") }}</a>
                        </li>
                        {% endif %}
                        {% if form.errors.get("field_ids") %}
                        <li>
                            <a href=#{{ form.field_ids.id }}>{{ form.errors.get("field_ids") | join("\n") }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <form method="post">
            {{ form.csrf_token }}
            <div class="govuk-!-margin-bottom-6">
                {{ govukCheckboxes({
                    "name": "field_ids",
                    "fieldset": {
                        "legend": {
                        "text": "Select the questions"
                        }
                    },
                    "errorMessage": {
                        "text": form.errors.get("field_ids") | join("\n")
                    } if form.errors.get("field_ids") else None,
                    "items": question_choices,
                }) }}
            </div>
            <div class="govuk-!-margin-bottom-6">
                {{ govukTextarea({
                    "id": form.justification.id,
                    "name": form.justification.id,
                    "label": {
                        "text": "Message",
                    },
                    "errorMessage": {
                        "text": form.errors.get("justification") | join("\n")
                    } if form.errors.get("justification") else None,
                    "rows": 8,
                    "value": form.justification.data or ""
                }) }}
            </div>
            <div class="govuk-button-group">
                {{ govukButton({
                    "text": "Submit"
                }) }}

                <a
                    class="govuk-link"
                    href="{{ url_for(
                        'assessment_bp.display_sub_criteria',
                        application_id=application_id,
                        sub_criteria_id=sub_criteria.id
                    )}}"
                >
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
