{% macro contact_details(apply_service_desk_portal, contact_us_phone, contact_us_text_phone, opening_days, opening_time) %}

    {% if apply_service_desk_portal %}
        <h3 class="govuk-heading-s">{% trans %}Please contact us through our {% endtrans %}<a class="govuk-link" href="{{ apply_service_desk_portal }}">
            {% trans %}support desk{% endtrans %}
        </a></h3>
        <ul class="govuk-list">
            <li>
                {{ opening_time }}: {{ opening_days }} ({% trans %}except public holidays{% endtrans %})
            </li>
        </ul>

    {% endif %}
    {% if contact_us_phone %}
        <h3 class="govuk-heading-s">{% trans %}Telephone{% endtrans %}</h3>
        <ul class="govuk-list">
            <li>
                {{ contact_us_phone }}
            </li>
            <li>
                {{ opening_time }}: {{ opening_days }} ({% trans %}except public holidays{% endtrans %})
            </li>
        </ul>
    {% endif %}
    {% if contact_us_text_phone %}
        <h3 class="govuk-heading-s">{% trans %}Textphone{% endtrans %}</h3>
        <ul class="govuk-list">
                <li>{{ contact_us_text_phone }}
            </li>
            <li>
                {{ opening_time }}: {{ opening_days }} ({% trans %}except public holidays{% endtrans %})
            </li>
        </ul>
    {% endif %}
{% endmacro %}
