{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}

{% macro assessment_change_request(flag, questions, user_info, application_id) %}
    {% set title_html %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            Change Requested
        </div>
        <div class="govuk-grid-column-one-half govuk-!-text-align-right">
            <span class="govuk-!-font-weight-regular">{{ flag.date_created | utc_to_bst }}</span>
        </div>
    </div>
    {% endset %}
    {% set notification_banner_html %}
    <p class="govuk-body">
        <strong>Section</strong><br>
        <ul>
            {% for field_id in flag.field_ids %}
                <li>{{ questions[field_id] }}</li>
            {% endfor %}
        </ul>
    </p>
    <p class="govuk-body">
        <strong>Reason</strong><br>
        {% for update in flag.updates %}
            {% if update["status"].name == "RAISED" %}
                {{ update["justification"] }}
            {% endif %}
        {% else %}
            N/A
        {% endfor %}
    </p>
    <p class="govuk-body">
        <strong>Requested by</strong><br>
        {{ user_info["full_name"] or "N/A" }} ({{ user_info["highest_role"] | all_caps_to_human }}) {{ user_info["email_address"] }}
    </p>
    {% endset %}

    {{ govukNotificationBanner({
        "html": notification_banner_html,
        "titleHtml": title_html
    }) }}
{% endmacro %}