{% extends "base.jinja.html" %}



{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/cookie-banner/macro.html" import govukCookieBanner %}
{% from "govuk_frontend_jinja/components/skip-link/macro.html" import govukSkipLink %}
{% from "govuk_frontend_jinja/components/header/macro.html" import govukHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}

{% set htmlClasses = "app-html-class" %}
{% set htmlLang = "en" %}
{% set assetUrl = "YOUR-DOMAIN" %}
{% set themeColor = "blue" %}
{% set bodyClasses = "app-body-class" %}
{% set bodyAttributes = {
"data-test": "My value",
"data-other": "report:details"
} %}
{% set containerClasses = "app-width-container" %}
{# TODO sort out service name #}
{% set serviceName = "Apply for a grant" %}

{% block pageTitle %}GOV.UK - Customised page template{% endblock pageTitle %}
{% block headIcons %}
  {{ super() }}
{% endblock headIcons %}

{% block skipLink %}
{{ govukSkipLink({
    "href": "#main-content",
    "text": "Skip to main content"
  })
}}
{% endblock skipLink %}

{% block header %}
  {{ govukHeader({
      "homepageUrl": "#",
      "containerClasses": "app-width-container",
      "serviceName": serviceName,
      "serviceUrl": "/monolith",
    })
  }}
{% endblock header %}

{% set mainClasses = "app-main-class" %}

{% block main %}
  {{ super() }}
{% endblock main %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      "tag": {
        "text": "Beta"
      },
      "html": 'This is a new service.'
    })
  }}
  {{ govukBackLink({
      "href": "#",
      "text": "Back"
    })
  }}
{% endblock beforeContent %}

{% include 'cookies.html' %}

{% block content %}
<h1 class="govuk-heading-xl">Customised page template</h1>
{% endblock content %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          "href": "#",
          "text": "Help"
        },
        {
          "href": "#",
          "text": "Cookies"
        },
        {
          "href": "#",
          "text": "Contact"
        },
        {
          "href": "#",
          "text": "Terms and conditions"
        }
      ]
    }
  })
  }}
{% endblock footer %}
