{% extends "base.jinja.html" %}



{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/cookie-banner/macro.html" import govukCookieBanner %}
{% from "govuk_frontend_jinja/components/skip-link/macro.html" import govukSkipLink %}
{% from "govuk_frontend_jinja/components/header/macro.html" import govukHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}

{% set htmlClasses = "app-html-class" %}
{% set htmlLang = "en" %}
{% set assetUrl = "YOUR-DOMAIN" %}
{% set themeColor = "blue" %}
{% set bodyClasses = "app-body-class" %}
{% set bodyAttributes = {
"data-test": "My value",
"data-other": "report:details"
} %}
{% set containerClasses = "app-width-container" %}
{% set serviceName = "Apply for a grant" %}

{% block pageTitle %}GOV.UK - Customised page template{% endblock %}
{% block headIcons %}
{{ super() }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='monolith/govuk-frontend-5.8.0.min.css' ) }}">
</link>
{% endblock %}

{% block bodyStart %}
{% set acceptHtml %}
<p class="govuk-body">{% trans %}You've accepted analytics cookies. You can{% endtrans %} <a class="govuk-link"
    href="{{ url_for('content_routes.cookie_policy') }}">{% trans %}change your cookie settings{% endtrans %}</a> {%
  trans %}at any time.{% endtrans %}</p>
{% endset %}

{% set denyHtml %}
<p class="govuk-body">{% trans %}You've rejected analytics cookies. You can{% endtrans %} <a class="govuk-link"
    href="{{ url_for('content_routes.cookie_policy') }}">{% trans %}change your cookie settings{% endtrans %}</a> {%
  trans %}at any time.{% endtrans %}</p>

{% endset %}

{% set cookiesChoiceHtml %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We'd also like to use analytics cookies so we can understand how you use the service and make
    improvements.</p>
{% endset %}

{{ govukCookieBanner({
"ariaLabel": "Cookies on " + serviceName,
"hidden": true,
"attributes": {"id": "cookies-accepted-banner"},
"messages": [
{
"html": acceptHtml,
"actions": [
{
"text": "Hide cookie message",
"type": "submit",
"name": "cookies-hide-btn",
"value": "yes"
}
]
}
]
}) }}
{{ govukCookieBanner({
"ariaLabel": "Cookies on " + serviceName,
"hidden": true,
"attributes": {"id": "cookies-denied-banner"},
"messages": [
{
"html": denyHtml,
"actions": [
{
"text": "Hide cookie message",
"type": "submit",
"name": "cookies-hide-btn",
"value": "yes"
}
]
}
]
}) }}
{{ govukCookieBanner({
"ariaLabel": "Cookies on " + serviceName,
"attributes":{"id":"cookies-choice-banner"},
"hidden": true,
"messages": [
{
"headingText": "Cookies on " + serviceName,
"html": cookiesChoiceHtml,
"actions": [
{
"attributes":{"id":"accept-cookies-btn"},
"text": "Accept analytics cookies",
"type": "submit",
"name": "cookies[analytics]",
"value": "yes"
},
{
"attributes":{"id":"deny-cookies-btn"},
"text": "Reject analytics cookies",
"type": "submit",
"name": "cookies[analytics]",
"value": "no"
},
{
"text": "View cookies",
"href": url_for('content_routes.cookie_policy')
}
]
}
]
}) }}
{% endblock %}

{% block skipLink %}
{{ govukSkipLink({
"href": "#main-content",
"text": "Skip to main content"
}) }}
{% endblock %}

{% block header %}
{{ govukHeader({
"homepageUrl": "#",
"containerClasses": "app-width-container",
"serviceName": serviceName,
"serviceUrl": "/monolith",

}) }}
{% endblock %}

{% set mainClasses = "app-main-class" %}

{% block main %}
{{ super() }}
{% endblock %}



{% block beforeContent %}
{{ govukPhaseBanner({
"tag": {
"text": "Beta"
},
"html": 'This is a new service.'
}) }}
{{ govukBackLink({
"href": "#",
"text": "Back"
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Customised page template</h1>
{% endblock %}

{% block footer %}
{{ govukFooter({
meta: {
items: [
{
"href": "#",
"text": "Help"
},
{
"href": "#",
"text": "Cookies"
},
{
"href": "#",
"text": "Contact"
},
{
"href": "#",
"text": "Terms and conditions"
}
]
}
}) }}
{% endblock %}


{% block bodyEnd %}
{# Run JavaScript at end of the

<body>, to avoid blocking the initial render. #}
  <!-- Google Tag Manager -->
  <script nonce="{{ csp_nonce() }}">(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-M5J9Q8HV');
  </script>
  <!-- End Google Tag Manager -->
  <script nonce="{{ csp_nonce() }}" type="text/javascript"
    src="{{ url_for('static', filename='apply/js/fsd_cookies.js') }}"></script>
  <script nonce="{{ csp_nonce() }}">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments) }
    <!--Re-implemented these from fsd_cookies.js to avoid conflicts and use a better structure for the elements that utilises the gov uk frontend macros-->

    function acceptCookiesMono() {
        updateCookieConsent('granted');
        hideCookiesMessageMono();
        document.getElementById("cookies-accepted-banner").removeAttribute("hidden");
    }

    function denyCookiesMono() {
        updateCookieConsent('denied');
        hideCookiesMessageMono();
        document.getElementById("cookies-denied-banner").removeAttribute("hidden");
    }

    function unhideCookiesMessageMono() {
        document.getElementById("cookies-choice-banner").removeAttribute("hidden");
    }

    function hideCookiesMessageMono() {
        document.getElementById("cookies-choice-banner").setAttribute("hidden", "true");
        document.getElementById("cookies-accepted-banner").setAttribute("hidden", "true");
        document.getElementById("cookies-denied-banner").setAttribute("hidden", "true");
    }

    function initCookieStateMono() {
      const localConsentMode = readConsentCookie();

      if (!localConsentMode) {
        gtag('consent', 'default', DEFAULT_CONSENT);
        unhideCookiesMessageMono();
      } else {
        gtag('consent', 'default', readConsentCookie());
      }

      document.getElementById("accept-cookies-btn").addEventListener("click", acceptCookiesMono);
      document.getElementById("deny-cookies-btn").addEventListener("click", denyCookiesMono);
      document.getElementsByName("cookies-hide-btn").forEach(element => {
        element.addEventListener("click", hideCookiesMessageMono);
      });
    }

    initCookieStateMono();

  </script>
  {% endblock %}
