{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}

{% extends "onboard/base.jinja.html" %}

{% block pageTitle %}{% trans %}Create a new application round{% endtrans %} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
        {{ govukErrorSummary(wtforms_errors(form)) }}
    {% endif %}

    <h1 class="govuk-heading-l">Create a new application round</h1>

    <form method="post" novalidate>
      {{ form.csrf_token }}
      {{ form.code }}
      {{ form.title }}
      {{ form.title_cy }}


      {# fixme: datefield not working with govuk-frontend-wtf? i must be doing something wrong #}
{#      {{ form.proto_start_date }}#}
{#      {{ form.proto_end_date }}#}


      {{ form.submit }}
    </form>
  </div>
</div>
{% endblock %}
