{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

{% extends "onboard/base.jinja.html" %}

{% block pageTitle %}{% trans %}Manage grants{% endtrans %} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">{{ grant.name_json.en }}</h1>

    {{
      govukTable(
        {
          "caption": "Grant configuration",
          "captionClasses": "govuk-table__caption--m",
          "firstCellIsHeader": true,
          "rows": [
            [{"text": "Code"}, {"text": grant.short_name}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
            [{"text": "Name (English)"}, {"text": grant.name_json.en}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
            [{"text": "Name (Welsh)"}, {"text": grant.name_json.cy}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
            [{"text": "Title (English)"}, {"text": grant.title_json.en}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
            [{"text": "Title (Welsh)"}, {"text": grant.title_json.cy}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
            [{"text": "Description (English)"}, {"text": grant.description_json.en}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
            [{"text": "Description (Welsh)"}, {"text": grant.description_json.cy}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
            [{"text": "Funding type"}, {"text": grant.funding_type.value}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
            [{"text": "Organisation name"}, {"text": grant.owner_organisation_name}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
            [{"text": "Organisation code"}, {"text": grant.owner_organisation_shortname}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
            [{"text": "GGIS reference"}, {"text": grant.ggis_scheme_reference_number}, {"html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id) + "'>Edit</a>"}],
          ]
        }
      )
    }}

    <h2 class="govuk-heading-m">Application rounds</h2>

    {% for round in grant.rounds %}
      <h3 class="govuk-heading-s govuk-!-display-inline">
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('round.details_view', id=round.id) }}">{{ round.short_name }}: {{ round.title_json.en }}</a>
      </h3>
      {{ govukTag({"text": round.status|title, "classes": "govuk-tag--green"}) }}

      <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-3"><span class="">Open at:</span> {{ round.opens | datetime_format_full_month }}</p>
      <p class="govuk-body"><span class="">Close at:</span> {{ round.deadline | datetime_format_full_month }}</p>
      <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Applications:</span> 0</p>
      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Recipients in monitoring:</span> 0</p>

      {% if not loop.last %}
        <hr class="govuk-section-break--m" />
      {% endif %}
    {% endfor %}

    <form method="get" action="{{ url_for('round.create_view') }}">
      <input type="hidden" name="url" value="{{ url_for('proto_onboard.platform.grants.view_grant', code=grant.short_name) }}"/>
      <button class="govuk-button govuk-button--secondary">Create a new application round</button>
    </form>
  </div>
</div>
{% endblock %}
